@model Aqua.WebApp.Models.OrderViewModel

@{
    ViewData["Title"] = "Create";
}
<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateOrder">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="locationSelect">Select location</label>
                <select asp-for="Location" class="form-control" id="locationSelect">
                    @foreach (var location in Model.LocationList)
                    {
                        <option value=@location.Id>@location.City</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="customerSelect">Select customer</label>
                <select asp-for="Customer" class="form-control" id="customerSelect">
                    @foreach (var customer in Model.CustomerList)
                    {
                        <option value=@customer.Id>@customer.FirstName, @customer.LastName - @customer.Email</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>